@import "tailwindcss";




/* Arrows no color change karva mate */
/* Arrow na default icon ne customize karva mate */
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 35px;
    color: rgb(204, 202, 211);
    border-radius: 50%;
    

}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Round shape */
    z-index: 1;
    transition: all 0.3s ease;
}

.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}

